html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--next-bg-main-color);
  font-size: 14px;
  overflow: hidden;
  position: relative;
}
.pd-20 {
  padding: 20px;
}
.col-1 {
  width: 100%;
}
.wh {
  width: 100%;
  height: 100%;
}
.w-5 {
  width: 50%;
}
.h {
  height: 100%;
}

/* 外边距、内边距全局样式
------------------------------- */
@for $i from 1 through 35 {
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
  .pt#{$i} {
    padding-top: #{$i}px !important;
  }
  .pr#{$i} {
    padding-right: #{$i}px !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
}

// 滚动条美化
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.15);
  transition: color 0.2s ease;
}

.config {
  .config-header {
    // position: relative;
    margin-bottom: 10px;
    .title {
      display: inline-block;
      font-size: 25px;
    }
    .button {
      // position: absolute;
      // right: 0;
      // top: 0;
      // bottom: 0;
      // margin: auto;
    }
  }
  .content {
    margin-left: 20px;
  }
}
